body { margin: 20px; }
html, body, p {
    font-family: monospace;
    font-size: 24px;
}
#count, #uniqueSolutions, #solution {
    font-size: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    opacity: 0.2;
}

table {
    margin: 10px;
    table-layout: auto;
    border: 1px solid;

}
td {
    white-space: nowrap;
    border: 1px dotted #ccc;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}

.custom-input
{
    width: 200px;
    height: 40px;
    position: relative;
}

.custom-input input[type="number"]::-webkit-inner-spin-button,
.custom-input input[type="number"]::-webkit-outer-spin-button
{
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4px;
  }

  .custom-input input[type="number"]::-webkit-inner-spin-button:before,
  .custom-input input[type="number"]::-webkit-outer-spin-button:before
  {
    content: '\2191'; /* unicode up-arrow */
  }

  .custom-input input[type="number"]::-webkit-inner-spin-button:after,
  .custom-input input[type="number"]::-webkit-outer-spin-button:after
  {
    content: '\2193'; /* unicode down-arrow */
  }