body { margin: 20px; }
html, body, p, input {
    font-family: monospace;
    font-size: 24px;
}
.mybutton
{
    background-color: #95b794;
    height: 40px;
}
#count, #uniqueSolutions, #solution {
    font-size: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    opacity: 0.2;
}

table {
    margin: 10px;
    table-layout: auto;
    border: 1px solid;

}
td {
    white-space: nowrap;
    border: 1px dotted #ccc;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
